
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  background-color: rgb(59, 106, 6);
}
/* Styles for the navigation bar */
.home-container {
  height: 800px;
  width: 100%;
  background-image: url('https://i.pinimg.com/564x/2f/15/52/2f1552874be63215dd85d9d54dad26dc.jpg');
  background-size: cover;
  background-position: center;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:rgb( 18,134,18,0.7); 
  list-style: none;
  padding: 0;
  margin: 0;
}


.navbar a {
  color: rgb(207,252,198);
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  text-decoration: underline;
}

.home-image {
  display: none;
}


.contact-card{
  padding: 20px;
  margin: 20px;
  background-color: rgb(59, 106, 6);
  border-radius: 10px;
  box-shadow:0 4px 8px rgba(0, 0, 0, 0.1) ;
}

.contact-card h1 .contact-card h2{
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.contact-form{
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgb(207, 252, 198);
}

.contact-form form div{
  margin-bottom: 10px;
}

.contact-form label{
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-form input, .contact-form textarea{
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
} 

.contact-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #0056b3;
}

.contact-info {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.map-container {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.social-media-links {
  display: flex;
  gap: 10px;
  align-items: center;
}

.social-media-links > * {
  font-size: 30px;
  color: #007bff;
  transition: color 0.3s;
}

.social-media-links > *:hover {
  color: #0056b3;
}

