/* Add these styles to your CSS file */

nav.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
      
    background-color:green;
    
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 50px; /* Adjust this size as needed */
    margin-right: 10px;
  }
  
  .store-name {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .navbar-links {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left:70px ;
    padding: 0;


  }
  
  
  

    .navbar-user .dropdown {
        position: absolute;
        top: 100%;
        right: 0;
        background-color:black;
        list-style: none;
        padding: 10px;
        display: none;
        z-index: 3;
      }
      
      .navbar-user:hover .dropdown {
        display: block;
      }
      
  
  .cart-count-badge {
    
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 0.8rem;
    margin-left: 5px;
  }
  .navbar-links li {
    margin: 10px;
    font-size: 26px;
    
  }
  
  .navbar-links a {
    color: rgb(232, 223, 223);
    text-decoration: none;
    
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  
  .navbar-links .dropdown{
    display: none;
    position: absolute;
    background-color: rgba(9, 9, 9, 0.7);
    min-width: 100px;
    z-index: 3;
  }
  
  .dropdown li {
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    font-size: medium;
    text-align: left;
  }
  
  .navbar-links.dropdown a {
    display: block;
    padding: 3px 3px;
  }
  

  
  
  
  
  
  
  